article .margin-best-tours {
	margin-left: 5%;
	margin-right: 5%;
}

article .main-best-tours {
	background: rgba(255, 255, 255, 0.2);
	min-height: 320px;
	width: 100%;
	margin-top: -1%;
}

article .line-best-tours {
	margin-left: 2%;
	margin-right: 2%;
}

article .container-best-tours {
	border: 1px solid black;
	padding: 5px;
	margin: 5px auto;
}

article .main-best-tours h4 {
	font-size: 30px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

article .main-best-tours h5 {
	font-size: 20px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

article .img-best-tours {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

article .round-best-tours {
	border-radius: 100px;
	border: 3px solid black;
	box-shadow: 0 5 10px #666;
}

article .main-best-tours a {
	color: black;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
}

article .main-best-tours a:hover {
	text-decoration: underline;
}

article .main-best-tours a:link {
	color: black;
	text-decoration: none;
}

article .main-best-tours a:visited {
	text-decoration: none;
	color: black;
}

article .main-best-tours a:active {
	text-decoration: none;
	color: black;
}

article .main-best-tours a:hover {
	color: #e5a239;
}

article .button-container-best-tours {
	display: flex;
	justify-content: space-around;
}

article .button-container-best-tours .button-best-tours {
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	border: 2 solid #black;
	min-width: 100px;
}

article .main-best-tours p {
	font-size: 14;
	text-align: left;
	font-family: 'Exo 2', sans-serif;
	display: flex;
	align-items: left;
	justify-content: left;
	padding-left: 2%;
	padding-right: 2%;
}

article .button-container-best-tours .button-best-tours:hover {
	background-color: black;
	color: white;
}

@media (min-width: 400px) {
	article .main-best-tours {
		margin-top: 0%;
	}
}

@media (min-width: 650px) {
	article .main-best-tours {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
	}
}