@import url('https://fonts.googleapis.com/css?family=Exo+2|Spicy+Rice');

body 
{
	min-width: 220px;
    max-width: 980px;
	background: url(../content/img/background.gif) fixed;
	-moz-background-size: 100%; 
	-webkit-background-size: 100%;
	-o-background-size: 100%; 
	-background-height: 980px;
}
.second-background
{
	background: rgba(255, 255, 255, 0.4);
	margin-left: 5%;
	margin-right: 5%;
}
header
{
	min-height: 50px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
    margin-top: -7%;
}
header .header-logo
{
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 15px;
	text-align: center;

	font-family: 'Exo 2', sans-serif;
}
header .header-logo h1
{
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}
section .banner 
{
    background-image: url(../content/img/m_hoverla2.png);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-top: -7%;
	font-family: 'Exo 2', sans-serif;
}
section .banner h1 {
    font-size: 40px;
    color: black;
	text-align: center;
    text-shadow: 10px 9px 6px rgba(28,110,164,0.2);
}
nav 
{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
	min-height: 100px;
	width: 100%;
}
nav .margin
{
	margin-left: 5%;
	margin-right: 5%;
}
nav .main-menu 
{
	width: 100%;
    font-size: 16px;
	padding: 2%;
	text-align: center;
	justify-content: space-around;
}
nav .main-menu a 
{
	color: black;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
	text-align: center;
}
nav .main-menu a:hover 
{
    text-decoration: underline;
}
nav .main-menu	a:link 
{ 
	color: black;
	text-decoration: none;
} 
nav .main-menu	a:visited 
{ 
	text-decoration: none;
	color: black;
} 
nav .main-menu	a:active
{ 	
	text-decoration: none; 
	color: black;
}
nav .main-menu	a:hover 
{
	color:  #e5a239;
} 
main
{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
	min-height: 100px;
	width: 100%;
	margin-top: -1%;
}
main .margin
{
	margin-left: 5%;
	margin-right: 5%;
}
main h4
{
    font-size: 30px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
main .line
{
    font-size: 4px;
	margin-left: 2%;
	margin-right: 2%;
	
}
main .text
{
	font-size: 13px;
	width: 100%;
	text-align: left;
	padding-left: 2%;
	padding-right: 2%;
	font-family: 'Exo 2', sans-serif;
}
main video
{
	width: 100%;
}
article .margin-Portfolio
{
	margin-left: 5%;
	margin-right: 5%;
}
article	.main-portfolio
{
	background: rgba(255, 255, 255, 0.2);
	min-height: 100px;
	width: 100%;
	margin-top: -1%;
}
article .main-portfolio h4
{
    font-size: 30px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
article .line-portfolio
{
    font-size: 5px;
	margin-left: 2%;
	margin-right: 2%;
}
[class^="scroll"] 
{
	position: relative;
	height: 150px;
	line-height: 150px;
	padding-left: 20%;
	padding-right: 20%;
}
[class^="scroll"] input 
{
	display: none;
}
[class^="scroll"] div
{
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	font-size: 0;
}
[class^="scroll"] img 
{
	position: relative;
	right: 0%;
	width: 100%;
	height: 100%;
	transition: .9s;
}
[class^="scroll"] label 
{
	cursor: pointer;
	font-weight: 150px;
	font-size: 50px;
}
[class^="scroll"] input:nth-of-type(1):checked ~ label:nth-of-type(2):after,
[class^="scroll"] input:nth-of-type(2):checked ~ label:nth-of-type(3):after,
[class^="scroll"] input:nth-of-type(3):checked ~ label:nth-of-type(4):after,
[class^="scroll"] input:nth-of-type(4):checked ~ label:nth-of-type(5):after,
[class^="scroll"] input:nth-of-type(5):checked ~ label:nth-of-type(6):after,
[class^="scroll"] input:nth-of-type(6):checked ~ label:nth-of-type(7):after,
[class^="scroll"] input:nth-of-type(7):checked ~ label:nth-of-type(8):after,
[class^="scroll"] input:nth-of-type(8):checked ~ label:nth-of-type(9):after
{
	content: "\3009";
	position: absolute;
	right: 0;
}
[class^="scroll"] input:nth-of-type(2):checked ~ label:nth-of-type(1):after,
[class^="scroll"] input:nth-of-type(3):checked ~ label:nth-of-type(2):after,
[class^="scroll"] input:nth-of-type(4):checked ~ label:nth-of-type(3):after,
[class^="scroll"] input:nth-of-type(5):checked ~ label:nth-of-type(4):after,
[class^="scroll"] input:nth-of-type(6):checked ~ label:nth-of-type(5):after,
[class^="scroll"] input:nth-of-type(7):checked ~ label:nth-of-type(6):after,
[class^="scroll"] input:nth-of-type(8):checked ~ label:nth-of-type(7):after,
[class^="scroll"] input:nth-of-type(9):checked ~ label:nth-of-type(8):after
{
	content: "\3008";
	position: absolute;
	left: 0;
}
[class^="scroll"] input:nth-of-type(2):checked ~ div img {right: 100%;}
[class^="scroll"] input:nth-of-type(3):checked ~ div img {right: 200%;}
[class^="scroll"] input:nth-of-type(4):checked ~ div img {right: 300%;}
[class^="scroll"] input:nth-of-type(5):checked ~ div img {right: 400%;}
[class^="scroll"] input:nth-of-type(6):checked ~ div img {right: 500%;}
[class^="scroll"] input:nth-of-type(7):checked ~ div img {right: 600%;}
[class^="scroll"] input:nth-of-type(8):checked ~ div img {right: 700%;}
[class^="scroll"] input:nth-of-type(9):checked ~ div img {right: 800%;}
article .margin-best-tours
{
	margin-left: 5%;
	margin-right: 5%;
}
article	.main-best-tours
{
	background: rgba(255, 255, 255, 0.2);
	min-height: 320px;
	width: 100%;
	margin-top: -1%;
}
article .line-best-tours
{
	margin-left: 2%;
	margin-right: 2%;
}
article .container-best-tours 
{
    border: 1px solid black;
    padding: 5px;
    margin: 5px auto;
}
article .main-best-tours h4
{
    font-size: 30px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
article .main-best-tours h5
{
    font-size: 20px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
article .img-best-tours
{
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}
article .round-best-tours
{
	border-radius: 100px;
	border: 3px solid black;
	box-shadow: 0 5 10px #666;
}
article .main-best-tours a 
{
	color: black;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
	text-align: center;
}
article .main-best-tours a:hover 
{
    text-decoration: underline;
}
article .main-best-tours	a:link 
{ 
	color: black;
	text-decoration: none;
} 
article .main-best-tours	a:visited 
{ 
	text-decoration: none;
	color: black;
} 
article .main-best-tours	a:active
{ 	
	text-decoration: none; 
	color: black;
}
article .main-best-tours	a:hover 
{
	color:  #e5a239;
} 
article .button-container-best-tours {
    display: flex;
    justify-content: space-around;
}
article .button-container-best-tours .button-best-tours {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #black;
	min-width: 100px;
}
article .main-best-tours p
{
	font-size: 14px;
	text-align: left;
	font-family: 'Exo 2', sans-serif;
	display: flex;
    align-items: left;
    justify-content: left;
	padding-left: 2%;
	padding-right: 2%;
}
article .button-container-best-tours .button-best-tours:hover {
    background-color: black;
    color: white;
}
article .margin-calendar
{
	margin-left: 5%;
	margin-right: 5%;
}
article	.main-calendar
{
	background: rgba(255, 255, 255, 0.2);
	min-height: 100px;
	width: 100%;
	margin-top: -1%;
}
article .line-calendar
{
    font-size: 5px;
	margin-left: 2%;
	margin-right: 2%;
}
article .main-calendar p
{
	font-size: 14px;
	text-align: left;
	font-family: 'Exo 2', sans-serif;
	display: flex;
    align-items: left;
    justify-content: left;
	padding-left: 2%;
	padding-right: 2%;
}
article .main-calendar h4
{
    font-size: 30px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
article .main-calendar h5
{
    font-size: 20px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
article .main-calendar a 
{
	color: black;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
	text-align: center;
	font-size: 12px;
}
article .main-calendar a:hover 
{
    text-decoration: underline;
}
article .main-calendar	a:link 
{ 
	color: black;
	text-decoration: none;
} 
article .main-calendar	a:visited 
{ 
	text-decoration: none;
	color: black;
} 
article .main-calendar	a:active
{ 	
	text-decoration: none; 
	color: black;
}
article .main-calendar	a:hover 
{
	color:  #e5a239;
} 
footer .margin-first-footer
{
	margin-left: 5%;
	margin-right: 5%;
}
footer	.main-first-footer
{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(89, 89, 89, 0.8));
	min-height: 100px;
	width: 100%;
	margin-top: -6%;
}
footer .line-first-footer
{
    font-size: 5px;
	margin-left: 2%;
	margin-right: 2%;
}
footer .main-first-footer p
{
	font-size: 14px;
	text-align: left;
	font-family: 'Exo 2', sans-serif;
	display: flex;
    align-items: left;
    justify-content: left;
	padding-left: 2%;
	padding-right: 2%;
}
footer .main-first-footer h4
{
    font-size: 25px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
footer .main-first-footer h5
{
    font-size: 20px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
footer .main-first-footer a 
{
	color: black;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
	text-align: center;
	font-size: 12px;
}
footer .main-first-footer a:hover 
{
    text-decoration: underline;
}
footer .main-first-footer	a:link 
{ 
	color: black;
	text-decoration: none;
} 
footer.main-first-footer	a:visited 
{ 
	text-decoration: none;
	color: black;
} 
footer .main-first-footer	a:active
{ 	
	text-decoration: none; 
	color: black;
}
footer .main-first-footer	a:hover 
{
	color:  #e5a239;
} 
footer .round-reference
{
	border-radius: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;

}
footer .img-first-footer
{
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	height: 50px;
}
footer .margin-second-footer
{
	margin-left: 5%;
	margin-right: 5%;
}
footer	.main-second-footer
{
	background: linear-gradient(to bottom, rgba(89, 89, 89, 0.8), rgba(77, 77, 77, 1));
	min-height: 100px;
	width: 100%;
	margin-top: -2%;
	height: 30px;
}
footer .line-second-footer
{
    font-size: 5px;
	margin-left: 2%;
	margin-right: 2%;
}
footer .main-second-footer h5
{
    font-size: 15px;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}
@media (min-width: 320px) 
{
header
{
    margin-top: -5%;
	min-height: 55px;
}

footer form div
{
	display: flex;
	align-items: center;
    justify-content: center;
	text-align: center;
}
footer	.main-first-footer
{
	margin-top: -4%;
}
footer form div .client-email
{
	flex: 1;
}
footer	.main-second-footer
{
	margin-top: -2%;;
}
}
@media (min-width: 400px) 
{
header
{
    margin-top: -4%;
	min-height: 60px;
}
article	.main-best-tours
{
	margin-top: 0%;
}
footer	.main-first-footer
{
	margin-top: -3%;
}
}
@media (min-width: 500px) 
{
header
{
    margin-top: -3%;
	min-height: 65px;
}
footer	.main-first-footer
{
	margin-top: -2%;
}
footer	.main-second-footer
{
	margin-top: -1%;;
}
}
@media (min-width: 600px) 
{
header
{
    margin-top: -2%;
	min-height: 70px;
}
[class^="scroll"] 
{
	height: 300px;
	line-height: 300px;
	padding-left: 10%;
	padding-right:10%;
}
[class^="scroll"] label 
{
	font-weight: 300px;
	
}
footer	.main-first-footer
{
	margin-top: -1%;
}
}
@media (min-width: 650px) 
{
header
{
    margin-top: -2%;
	min-height: 80px;
}
nav section
{
    display: flex;
}
nav section .main-menu 
{
	flex: 1;
	font-size: 7px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0%;

}
article .margin-best-tours
{
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}
section .container-best-tours 
{
}
footer section .main-second-footer
{
	margin-top: -1%;
	display: flex;
}
footer section .first-footer
{
	flex: 1;
	font-size: 7px;
	justify-content: space-around;
	align-items: space-around;
	text-align: space-around;
	padding: 0%;
}
[class^="scroll"] 
{
	height: 450px;
	line-height: 450px;
	padding-left: 10%;
	padding-right:10%;
}
[class^="scroll"] label 
{
	font-weight: 450px;
	
}
footer	.main-first-footer
{
	margin-top: -1%;
}
}
@media (min-width: 750px) 
{
header
{
    margin-top: -1%;
	min-height: 90px;
}
[class^="scroll"] 
{
	height: 490px;
	line-height: 490px;
	padding-left: 10%;
	padding-right:10%;
}
[class^="scroll"] label 
{
	font-weight: 490px;
	
}
footer	.main-first-footer
{
	margin-top: -1%;
}
}
@media (min-width: 850px) 
{
header
{
    margin-top: -1%;
	min-height: 100px;
}
nav .main-menu 
{
	margin-top: 0%;
}
main
{
	margin-top: 0%;
}
[class^="scroll"] 
{
	height: 520px;
	line-height: 520px;
	padding-left: 10%;
	padding-right:10%;
}
[class^="scroll"] label 
{
	font-weight: 520px;
	
}
footer	.main-first-footer
{
	margin-top: -1%;
}
footer	.main-second-footer
{
	margin-top: 0%;;
}
}
